<!DOCTYPE html>
		<!-- COMMENT -->
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate"layouts/defaultTemplate">
	
	<head>
	</head>
	
	<!-- this style seciont is so that the date will be displayed without line breaks -->
	<style>
	p{
		display:inline;
	}
	</style>
	
	<body style = "background-color:rgb(180, 154, 118); font-family:'Times New Roman', Times, serif; color:aqua">
		
		<div layout:fragment="content">
		
			<!-- test add section -->
			<form action="#" th:action="@{events}" th:object="${EventModel}" method="post">
				<h3>Add new event</h3>
				<table>
					<tr>
						<td>Event Name:</td><td><input type="text"></td>
							<!--<td><h5 style="color:red" th:if="${#fields.hasErrors('username')}" th:erros="*{username}">Event Name Errors</h5></td> -->
					</tr>
				</table>
				<table>
					<tr>
						<!-- remove date field since it does not work 
						<td>Event Date:</td><td><input type="text" th:field="*{eventDate}"></td>
							<td><h5 style="color:red" th:if="${#fields.hasErrors('eventDate')}" th:erros="*{eventDate}">Event Date Errors</h5></td>
						-->
						<!--test section for date options -->
						<td>Event Day:</td>
						<td><select name="day">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select></td>
						<td>Event Month:</td>
						<td><select month="month">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select></td>
						<td>Event Year:</td>
						<td><select year="year">
							<option value="2022">2022</option>
							<option value="2023">2023</option>
							<option value="2024">2024</option>
							<option value="2025">2025</option>
							<option value="2026">2026</option>
							<option value="2027">2027</option>
						</select></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="Add Event"></td>
					</tr>
				</table>
				
				<!--
				<div th:if="${#fields.hasErrors('*')}">List of Error</div>
				<div th:each="err : ${#fields.errors('*')}">
					<span style="color:red" th:text="${err}" class="fieldError"></span>
				</div> -->
			</form>
			
			<!-- end test add section -->
			<h3> Events </h3>
			<table style="width:50%">
				<thead>
					<tr>
						<th style="text-align:center">Event Name</th>
						<th style="text-align:center">Event Date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${events.empty}">
						<td style="text-align:center" colspan="4"> No Events Scheduled </td>
					</tr>
					<tr th:each="event : ${events}">
						<td style="text-align:center"><h5 th:text="${event.eventName}">event 1</h5></td>
						<td style="text-align:center">
							<h5 style="white-space: nowrap;"> 
								<p th:text="${event.getMonth}">Month</p><p>/</p>
								<p th:text="${event.getDay}">1</p><p>/</p>
								<p th:text="${event.getYear}">0001</p>
							</h5>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>


</html>